@import url('https://fonts.googleapis.com/css?family=Inconsolata|Lato|Roboto');

@font-face {
  font-family: 'Interstate';
  src: url('_images/interstate-black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  background-color: white;
}

#preso, .slide {
  /* width: 1440px !important; */
  width: 100% !important;
  /* height: 900px !important; */
  height: 100% !important;
}

.content {
  color: #959B99;
  font-family: 'Lato', sans-serif;
  font-size: 40px;
  background-color: white;
}

.title {
  background-color: #1392FE;
}

.white {
  background-color: #ffffff;
}

.title h1 {
  color: #959B99;
  font-family: 'Lato';
  font-size: 110px;
  font-weight: 400;
  font-style: normal;
  font-variant: small-caps;
  background-color: white;
  padding-top: 20%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 10%;
}

.subsection {
  background-color: #1392FE;
}

.subsection h1 {
  color: white;
  font-size: 90px;
  font-variant: normal;
}

.black {
  background-color: #191919;
}

#.black h1 {
#  background-color: #191919;
#  color: #1392FE;
#  font-size: 90px;
#  font-variant: normal;
#}

.grey {
  background-color: #6F7474;
}

.orange { 
  background-color: #fbb03b;
}

.blue {
  background-color: #04a6ff;
}

.darkblue {
  background-color: #121b54;
}

.purple {
  background-color: #5c4ee5;
}

.black {
  background-color: #000000;
}

.green {
  background-color: #67be28;
}

.oraclered {
  background-color: #f80000;
}

.grey h1 {
  color: white;
  font-size: 90px;
  font-variant: normal;
}

/* #notes code, #notes pre {
  font-size: 14px;
} */

div#notes h1 {
  font-size: 28px;
}

/* #notes p {
  font-size: 16px;
} */

h1 {
  color: #1392FE;
  font-family: 'Interstate';
  font-size: 55px;
  padding-left: 40px;
  padding-top: 30px;
  font-weight: 900;
}

h2 {
  color: #F37F0A;
  font-family: 'Interstate';
  font-size: 36px;
  font-weight: 900;
  border-bottom: none;
  padding-left: 60px;
  padding-top: 20px;
}

h4 {
  color: red;
  font-family: 'Interstate';
  font-size: 28px;
  font-weight: 900;
  padding-bottom: 150px;
}

pre.highlight {
  word-wrap: break-word;
}

pre.highlight code.language-powershellconsole, pre.highlight code.powershellconsole,
pre.highlight code.language-console, pre.highlight code.console {
  word-wrap: break-word;
  font-size: 28px;
} 

pre {
  margin: 1em 0px;
  padding: .25em;
  white-space: pre-wrap;
}

code {
  border: 2px solid #9d9d9d;
  border-radius: 4px;
  border-spacing: 2px, 2px, 2px, 2px;
  padding-bottom: 2px;
  font-family: 'Inconsolata', monaco, monospace;
  /* font-size: 28px; */
  color: #595959;
  font-style: normal;
  background: #fcfcfc;
}

.content:not(.cover) h1:not(.section_title) {
  border-bottom: 0px solid #222;
}

.psadminlogo::after {
  padding-top: 5%;
  padding-bottom: 10%;
}

.podcastlogo::after {
  padding-top: 15%;
  padding-bottom: 15%;
}

.subsection a {
  color: white;
}

/* .floatingNotes h1, #notes h1 {
  font-size: 28px;
  font-weight: 100;
}

.floatingNotes h2, #notes h2 {
  font-size: 24px;
}

.floatingNotes code, .floatingNotes pre, #nodes code, #nodes pre {
  font-size: 16px;
}

.floatingNotes pre.highlight code.language-powershellconsole, .floatingNotes pre.highlight code.powershellconsole,
.floatingNotes pre.highlight code.language-console, .floatingNotes pre.highlight code.console {
  font-size: 16px;
  word-wrap: break-word;
  overflow-x: scroll;
} */


#presenterPopup {
  font-weight: 100;
}

#presenterPopup h1 {
  font-size: 16px;
}

#presenterPopup h2 {
  font-size: 14px;
}

.callout {
  font-size: .6em;
}

#hamburger:hover {
  background-color: #1392FE;
}

/* bullets */
.bullets > ul > li {
  text-align: left !important;
  padding: 0px !important;
}

.bullets ul {
  list-style: disc !important;
  padding-left: 0px !important;
}

@media print {

  #notes p {
    font-size: 28px;
  }

}

img.io {
  width: 25%;
}

/* ### Preshow */
img.preshow {
  padding-top: 10%;
  padding-bottom: 10%;
  padding-right: 10%;
  padding-left: 15%;
}

/* ### Supplemental Slides */

div.supplemental {
  font-size: 18px;
  height: auto !important;
  width: auto !important;
  border-width: 0px;
}

div.supplemental h1 {
  font-size: 44px;
}

div.supplemental code {
  padding: 2px;
}

div.supplemental pre.highlight>code {
  font-family: 'Inconsolata', monaco, monospace;
  font-size: 18px;
  overflow: hidden;
  display: block;
  padding: 3px;
  word-wrap: break-word;
}

/* Add Console "code highlighting" styles to resemble the look of a terminal window. */
div.supplemental pre.highlight>code.language-console {
  background: #222;
  background: url(../../css/titlebar/left.png) left top no-repeat, url(../../css/titlebar/right.png) right top no-repeat, url(../../css/titlebar/center.png) center top repeat-x #222;
  color: #fff;
  padding: 30px 0.5em 0.5em;
  border: 1px solid #acacac;
  border-radius: 6px;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  box-shadow: 0px 0px 10px #acacac;
}

div.supplemental pre.highlight>code.language-powershellconsole {
  background: rgb(1, 36, 86);
  background: url(../../css/titlebar/powershell-controls.png) right top no-repeat, url(../../css/titlebar/powershell.png) left top repeat-x rgb(1, 36, 86);
  color: rgb(238, 237, 240);
  padding: 32px 0.5em 0.5em;
  border: 6px solid rgb(102, 202, 234);
  border-top: 2px solid rgb(102, 202, 234);
  border-radius: 4px;
  overflow: hidden;
} 